.quiz-winner li{
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-blu-color);
    background-color: green;
    color: var(--light-color);
    box-shadow: 0 4px 0 0 blue;
    transition: var(--transition);
    list-style-type: none;
}